<footer class="bg-gray-4">
  <div class="mw8 center ph4 pv5 flex justify-between flex-wrap">
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 gray-1 fw6 mv3">WEEMOVE</h4>
      <a href="" class="link gray-1 hover-white db mv2">Kerhot</a>
      <a href="" class="link gray-1 hover-white db mv2">Kouluille</a>
      <a href="" class="link gray-1 hover-white db mv2">Blogi</a>
    </div>
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 gray-1 fw6 mv3">Yhteystiedot</h4>
      <a href="" class="link gray-1 hover-white db mv2">hello@weemove.fi</a>
      <a href="" class="link gray-1 hover-white db mv2">Facebook</a>
      <a href="" class="link gray-1 hover-white db mv2">Instagram</a>
    </div>
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 gray-1 fw6 mv3">Yritys</h4>
      <div class="gray-1 mv2">WeeMove Oy</div>
      <div class="gray-1 mv2">Oikotie 123, 00100 Helsinki</div>
      <a href="" class="link gray-1 hover-white db mv2">+358 40 123 4567</a>
      <a href="" class="link gray-1 hover-white db mv2">Rekisteriseloste</a>
    </div>
  </div>
</footer>