<footer class="bg-we-gray-4">
  <div class="mw8 center ph4 pv5 flex justify-between flex-wrap">
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 we-gray-1 fw7 mv3">{{site.title}}</h4>
      {%- for item in site.data.navigation -%}
      <a class="link we-gray-1 hover-white db mv2" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
      {%- endfor -%}
    </div>
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 we-gray-1 fw7 mv3">{{site.data.strings.contact.fi}}</h4>
      <a href="mailto:{{site.email}}" class="link we-gray-1 hover-white db mv2">{{site.email}}</a>
      <a href="{{site.facebook}}" class="link we-gray-1 hover-white db mv2">Facebook</a>
    </div>
    <div class="w-third-ns w-100 mv3">
      <h4 class="f4 we-gray-1 fw7 mv3">{{site.data.strings.company.fi}}</h4>
      <div class="we-gray-1 mv2">Funktum Tmi</div>
      <div class="we-gray-1 mv2">Unikkotie 3 E 76, 00720 Helsinki</div>
      <a href="/weemove/gdpr" class="link we-gray-1 hover-white db mv2">{{site.data.strings.register.fi}}</a>
    </div>
  </div>
</footer>