{%- assign inactive = "link ph3 pv2 hover-white white-60" -%}
{%- assign active = "link ph3 pv2 hover-white white" -%}

<div style="background-color: {{ page.hero_bg | default: "transparent" }}">
  <a rel="author" href="{{ "/" | relative_url }}">
    <img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}">
  </a>
  <nav>
    {%- for item in site.data.navigation -%}
      {% if page.url == item.url %}
        <a class="{{ active }}" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
      {% elsif page.url contains item.url and item.url != "/" %}
        <a class="{{ active }}" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
      {% else %}
        <a class="{{ inactive }}" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>
      {% endif %}
    {%- endfor -%}
  </nav>
</div>