{%- if post -%}
  {%- assign source = post -%}
{%- else -%}
  {%- assign source = page -%}
{%- endif -%}

<div>
  <time datetime="{{ source.date | date_to_xmlschema }}">
    {{ source.date | date: site.date_format }}
  </time>
  {%- if source.author -%}
    <span>Written by {{ source.author }}</span>
  {%- endif -%}
  {% if source.categories.size > 0 %}
    <span>Posted in
      {% for category in source.categories %}
        <a href="{{ site.baseurl }}/blog/categories/#{{ category | slugize }}">{{ category }}</a>
        {%- unless forloop.last %},{% endunless -%}
      {% endfor %}
    </span>
  {% endif %}
</div>