{%- if post -%}
  {%- assign source = post -%}
{%- else -%}
  {%- assign source = page -%}
{%- endif -%}

<div>
  <span>{{ source.date | date: site.date_format }}</span>

  {%- if source.author -%}
    <span>&middot;</span>
    <span>Written by {{ source.author }}</span>
  {%- endif -%}

  {% if source.categories.size > 0 %}
    <span>&middot;</span>
    <span>Posted in
      {% for category in source.categories %}
        {% if include.nolinks %}
          {{ category }}
        {% else %}
          <a class="link blue hover-dark-blue" href="{{ category | slugize | prepend: "/blog/categories/#" | relative_url }}">{{ category }}</a>
        {% endif %}
        {%- unless forloop.last %},{% endunless -%}
      {% endfor %}
    </span>
  {% endif %}

  {% if include.readmore %}
    <span>&middot;</span>
    <a class="link blue hover-dark-blue" href="{{ source.url | relative_url }}">Lue lisää &rarr;</a>
  {% endif %}
</div>