---
layout: default
title: Blog
title_nav: Blog
description: Blog
---

<div class="mw8 center ph4 pv6-ns pv5">
  {%- for post in paginator.posts -%}
  <article class="mb4">
    {%- assign date_format = site.date_format -%}
    <header>
      <h1 class="f2 fw8 mt0 lh-title">
        <a class="link we-orange hover-we-dark-orange" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h1>
    </header>
    <div class="mb3 nested-content">
      {{ post.content | markdownify | remove: '<img>' | strip_html | truncate: 240 }}
    </div>
    <div class="f5 black-50">
      {%- include post-meta.html readmore="true" -%}
    </div>
  </article>
  {%- endfor -%}

  {%- if paginator.previous_page or paginator.next_page -%}
  <div>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">&larr; Older posts</a>
    {% endif %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Newer posts &rarr;</a>
    {% endif %}
  </div>
  {%- endif -%}
</div>
