---
layout: default
title: Blog
title_nav: Blog
description: Blog
---

<div class="mw8 center ph4 pv6-ns pv4">
  {%- for post in paginator.posts -%}
  <article class="pv4">
    {%- assign date_format = site.date_format -%}
    <header>
      <h1 class="f2 fw8 mt0 mb3 lh-title">
        <a class="link we-orange hover-we-dark-orange" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h1>
    </header>
    <div class="mb3 nested-content">
      {{ post.content | markdownify | remove: '<img>' | strip_html | truncate: 240 }}
    </div>
    <div class="f5 black-50">
      {%- include post-meta.html readmore="true" -%}
    </div>
  </article>
  {%- endfor -%}

  {%- if paginator.previous_page or paginator.next_page -%}
  <div class="flex justify-around pt3">
    {% if paginator.next_page %}
      <a class="pv3 link we-orange hover-we-dark-orange f4-ns" href="{{ paginator.next_page_path }}">
        &larr; {{site.data.strings.older.fi}}
      </a>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pv3 link we-orange hover-we-dark-orange f4-ns"href="{{ paginator.previous_page_path }}">
        {{site.data.strings.newer.fi}} &rarr;
      </a>
    {% endif %}
  </div>
  {%- endif -%}
</div>
