---
layout: default
title: Blog
title_nav: Blog
description: Blog
---

{%- for post in paginator.posts -%}
<article>
  {%- assign date_format = site.date_format -%}
  <header>
    <h1>
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h1>
    {%- include post-meta.html -%}
  </header>
  <div>
    {% unless post.image == site.defaults[0]['values'].image %}
      <img src="{{ post.image }}" alt="{{ post.title | escape }}" />
    {% endunless %}
    {{ post.content }}
  </div>
</article>
{%- endfor -%}

{%- if paginator.previous_page or paginator.next_page -%}
<div>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">&larr; Older posts</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Newer posts &rarr;</a>
  {% endif %}
</div>
{%- endif -%}