// Theme

.nunito {
  font-family: 'Nunito', sans-serif;
}

.bg-we {
  @include color-modfier($colors, 'background-color')
}

.hover-bg-we {
  @include color-modfier($colors, 'background-color', ':hover')
}

.we {
  @include color-modfier($colors, 'color')
}

.hover-we {
  @include color-modfier($colors, 'color', ':hover')
}

// Tachyon overrides

.link:focus {
  transition: color .15s ease-in;
  outline: none
}

// Custom

@include break(large) {
  .f-title-l {
    font-size: 4rem;
  }
}

@include break(not-small) {
  .grow-ns {
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out
  }

  .grow-ns:hover,
  .grow-ns:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }

  .grow-ns:active {
    -webkit-transform: scale(.90);
    transform: scale(.90)
  }
}
