// Theme

.nunito {
  font-family: 'Nunito', sans-serif;
}

.bg-we {
  @include color-modfier($colors, 'background-color')
}

.hover-bg-we {
  @include color-modfier($colors, 'background-color', ':hover')
}

.we {
  @include color-modfier($colors, 'color')
}

.hover-we {
  @include color-modfier($colors, 'color', ':hover')
}

// Tachyon overrides

.link:focus {
  transition: color .15s ease-in;
  outline: none
}

// Custom

@include break(large) {
  .f-title-l {
    font-size: 4rem;
  }
}
