---
layout: default
---
<div class="cover bg-center vh-100" style="background-color: {{ page.hero_bg | default: "transparent" }}; background-image: url({{ page.hero_img }})">
  <div class="flex flex-column items-center justify-center h-100 tc mw8 center ph4">
    <h1 class="f-title-l f1 lh-solid fw8 mt0 mb4">{{ page.title | escape }}</h1>
    <p class="f3 lh-copy mt0 mb4 measure">{{ page.description | escape }}</p>
    <a class="dib pv3 ph4 no-underline bg-we-orange hover-bg-we-dark-orange white f4 fw7 br-pill grow-ns" href="{{ page.hero_btn | relative_url }}">{{ page.hero_btn_text | escape }}</a>
  </div>
</div>
<div class="mw8 center ph4 pv6 nested-content">
  {{ content }}
</div>