---
layout: default
---
<div class="mw8 center ph4 pv6-ns pv5">

  <h1 class="f1 fw8 lh-solid">{{ page.title | escape }}</h1>

  <div class="mb4">
    {% unless page.image == site.defaults[0]['values'].image %}
      <img src="{{ page.image }}" alt="{{ page.title | escape }}" />
    {% endunless %}
    <div class="nested-content">
      {{ content }}
    </div>
  </div>

  <div class="f5 black-50">
    {%- include post-meta.html -%}
  </div>

  {%- if site.disqus.shortname -%}
    <div class="mb5">
    {%- include disqus_comments.html -%}
    </div>
  {%- endif -%}

  {% assign total_posts = site.posts | size %}
  {% if total_posts > 1 %}
    <div class="mb5">
      <h3 class="f3 fw8">Recent posts</h3>
      <ul>
        {% for post in site.related_posts limit: 5 %}
          <li class="mb2">
            <a class="link we-orange f4-ns" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

</div>