---
layout: default
---
<div class="mw8 center ph4 pv6-ns pv4">

  <h1 class="f1-ns f2 fw8 lh-title mt4">{{ page.title | escape }}</h1>

  {% unless page.image == site.defaults[0]['values'].image %}
    <img class="w-100 mv3" src="{{ page.image }}" alt="{{ page.title | escape }}" />
  {% endunless %}
  <div class="nested-content">
    {{ content }}
  </div>

  <div class="f5 black-50">
    {%- include post-meta.html -%}
  </div>

  {%- if site.disqus.shortname -%}
    <div class="mt5">
    {%- include disqus_comments.html -%}
    </div>
  {%- endif -%}

  {% assign total_posts = site.posts | size %}
  {% if total_posts > 1 %}
    <div class="mt5">
      <h3 class="f3 fw8 mt0 mb3">Viimeisimmät kirjoitukset</h3>
      <ul class="list pl0">
        {% for post in site.related_posts limit: 5 %}
          <li class="mv2">
            <a class="link we-orange hover-we-dark-orange f4-ns" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

</div>