---
layout: default
---
<div>

  <h1>{{ page.title | escape }}</h1>
  {%- include post-meta.html -%}

  <div>
    {% unless page.image == site.defaults[0]['values'].image %}
      <img src="{{ page.image }}" alt="{{ page.title | escape }}" />
    {% endunless %}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    <div>
    {%- include disqus_comments.html -%}
    </div>
  {%- endif -%}

  {% assign total_posts = site.posts | size %}
  {% if total_posts > 1 %}
    <div>
      <h3>Recent posts</h3>
      <ul>
        {% for post in site.related_posts limit: 5 %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

</div>